html {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  letter-spacing: .05em;
}
body {
    color: #4d4d4d;
}

/*Header*/

header {
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 1;
  background-color: white;
}
header .mobile {
  display: none;
}
header .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 100%;
}
.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding-left: 1.5rem;
}
.logo-name {
  display: flex;
}
.logo-name h3:first-child {
  font-weight: bold;
  color: #4d4d4d;
}
.logo-name h3:last-child {
  color: #a6a6a6;
}
nav {
  margin: 1rem 1.5rem;
}
nav ul {
  display: flex;
  margin: auto 8px;
}
nav a {
  padding-left: 1rem;
  color: #4d4d4d;
  text-decoration: none;
}
nav a:hover {
  font-weight: bold;
  transition: font 100ms linear 100ms;
}
@media only screen and (max-width:600px) {
  header .mobile{
    height: 64px;
    display: contents;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  header .desktop {
    display: none;
  }
}

/*Banner*/

.banner {
  position: relative;
  top: 4rem;
  display: flex;
  background-color: lightgrey;
}
.banner img {
  width: 60%;
  margin: 2rem 1.5rem;
  height: auto;
  object-fit: cover;
}
.banner-content {
  margin: auto 24px;
  width: 40%;
  color: #4d4d4d;
  height: 100%;
}
.banner-content h1 {
  font-size: 3.5rem;
  font-weight: 700;
  padding: 1rem 0;
}
.banner-content h3 {
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem 0;

}
.button {
  background-color: #4d4d4d;
  color: white;
  text-align: center;
  height: 100%;
  margin: 1rem 0;
  width: 90%;
  padding: 8px;
}
.button a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}
.button a:hover {
  color: tan;
  transition: color 100ms ease-in-out 100ms;
}
@media only screen and (max-width: 600px) {
  .banner {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
  }
  .banner img {
    width: 100%;
    margin: 0 auto;
  }
  .banner-content {
    margin: 32px 16px;
    width: 100%;
  }
  .banner-content h1 {
    font-size: 2rem;

  }
  .banner-content h3 {
    font-size: 1.5rem;
  }
}
/*News Banner*/
.news-banner {
  margin-top: 32px;
  display: flex;
  position: relative;
  top: 2rem;
  color: #4d4d4d;
  justify-content: space-between;
}
.news-banner .left {
  max-width: 60%;
}
.left img {
  width: 100%;
  display: block;
  padding: 32px 24px;
  overflow: hidden;
}
.left h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 24px auto;
}
.news-banner .left h3 {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 100;
}
.news-banner .left h4 {
  font-size: 1.25rem;
  margin: 32px auto;
}
.news-banner .right {
  display: flex;
  flex-direction: column;
  max-width: 35%;
  height: 750px;
  border-left: solid lightgrey 1px;
}
.right .story {
  display: flex;
  border-bottom: solid lightgrey 1px;
  padding: 16px;
  line-height: 1.2;
  justify-content: space-between;
}
.right .story:last-child {
  background-color: lightgrey;
  margin-bottom: 32px;
}
.story .desktop-image img {
  width: 35%;
  height: auto;
  padding: 16px;
}
.story .mobile-image {
  display: none;
}
.story-content {
  max-width: 65%;
  margin: auto 0;
}
.story-content h3 {
  font-weight: 700;
  font-size: 1.5rem;
}
.story-content a:hover {
  font-weight: bold;
  transition: font 100ms linear 100ms;
}
@media only screen and (max-width: 600px) {
  .news-banner .left {
    display: none;
  }
  .news-banner .right {
    max-width: 100%;
    display: block;
    height: auto;
  }
  .right .story{
    width: 100%;
    flex-direction: column;
  }
  .story .mobile-image {
    padding: 16px;
    justify-content: center;
    display: contents;
  }
  .story .desktop-image {
    display: none;
  }
  .story-content h3, span{

  }
}

/*Courses Section*/
.course-banner {
  background-color: #f2f2f2;
  width: 100%;
  position: relative;
  top: 32px;
}
.course-banner h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-top: 32px;
}
.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.course {
  width: 25%;
  height: auto;
  margin: 32px;
  background-color: white;
}
.course img {
  width: 100%;
}
.course .course-content {
  margin: 16px;
  line-height: 1.8;
}
.course-content h3 {
  font-weight: bold;
  font-size: 1.5rem;
}
.course-content h4 {
  font-size: 1.25rem;
  color: grey;
  font-weight: lighter;

}

/*Thesis section*/
.thesis-banner {
  width: 100%;
  position: relative;
  top: 32px;
}
.thesis-banner h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-top: 32px;
}
.thesis-info {
  display: flex;
  padding: 32px 5px;
}
.thesis-left {
  width: 60%;
}
.thesis-left video {
  padding: 0px 24px;
  width: 95%;
}
.video-caption {
  padding: 24px;
  line-height: 1.2;
}
.video-caption h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 8px;
}
.video-caption h4 {
  font-weight: lighter;
  font-size: 1.1rem;
}
.thesis-right {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 450px;
}
.thesis-story:first-child {
  background: #f2f2f2;
}
.thesis-story {
  display: flex;
}
.thesis-story img {
  width: 35%;
  height: auto;
  padding: 16px;
}
.thesis-content {
  margin: auto 0;
  line-height: 1.2;
}
.thesis-content h2 {
  font-size: 1.6rem;
  font-weight: 500;
}
.thesis-content h3 {
  font-size: 1.2rem;
  font-weight: 100;
  padding-top: 1rem;
}

/*Footer*/
footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  border-top: solid lightgrey 1px;
}
nav ul {
  display: flex;
}
nav a {
  display: flex;
  text-decoration: none;
  color: #4d4d4d;
  padding-left: 8px;
}
nav a:hover {
  font-weight: bold;

}
